<a href="https://colab.research.google.com/github/sandeep92134/PYTHON-Data-Cleaning/blob/master/Chapter%201/Exersize%20.4%20Importing%20SPSS%2C%20Stata%2Cand%20SAS%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyreadstat

Collecting pyreadstat
  Downloading https://files.pythonhosted.org/packages/d7/08/fc4f64351a36405b6adce87b97bcbd65c348c403443ce28edb334411cf40/pyreadstat-1.0.9-cp36-cp36m-manylinux2014_x86_64.whl (2.5MB)
     |████████████████████████████████| 2.5MB 6.5MB/s
Requirement already satisfied: pandas>0.24.0 in /usr/local/lib/python3.6/dist-packages (from pyreadstat) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>0.24.0->pyreadstat) (1.15.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.0.9

In [2]:
import pandas as pd
import numpy as np
import pyreadstat

In [3]:
nls97spss, metaspss = pyreadstat.read_sav('/content/nls97.sav')
nls97spss.dtypes

R0000100    float64
R0536300    float64
R0536401    float64
R0536402    float64
R1235800    float64
R1482600    float64
R9793800    float64
R9793900    float64
R9871900    float64
R9872000    float64
R9872200    float64
R9872400    float64
S8646900    float64
S8647000    float64
S8647100    float64
S8647200    float64
S8647300    float64
S8647400    float64
S8647500    float64
S8647600    float64
S8647700    float64
S8647800    float64
T6651700    float64
U1836800    float64
U1836900    float64
U1837000    float64
U1837100    float64
U1837200    float64
U1837300    float64
U1845400    float64
U1852400    float64
U1852600    float64
U1852700    float64
U2166200    float64
U2166300    float64
U2166400    float64
U2166500    float64
U2857300    float64
U2962800    float64
U2962900    float64
U2963000    float64
Z9063900    float64
dtype: object

In [4]:
nls97spss.head()

   R0000100  R0536300  R0536401  ...  U2962900  U2963000  Z9063900
0       1.0       2.0       9.0  ...       NaN       NaN      52.0
1       2.0       1.0       7.0  ...       2.0       6.0       0.0
2       3.0       2.0       9.0  ...       2.0       6.0       0.0
3       4.0       2.0       2.0  ...       2.0       6.0       4.0
4       5.0       1.0      10.0  ...       2.0       5.0      12.0

[5 rows x 42 columns]

In [5]:
nls97spss['R0536300'].value_counts(normalize=True)
# use column labels and value labels
metaspss.variable_value_labels['R0536300']
nls97spss['R0536300'].\
  map(metaspss.variable_value_labels['R0536300']).\
  value_counts(normalize=True)

Male      0.51191
Female    0.48809
Name: R0536300, dtype: float64

In [6]:
nls97spss = pyreadstat.set_value_labels(nls97spss, metaspss, formats_as_category=True)
nls97spss.columns = metaspss.column_labels
nls97spss['KEY!SEX (SYMBOL) 1997'].value_counts(normalize=True)

Male      0.51191
Female    0.48809
Name: KEY!SEX (SYMBOL) 1997, dtype: float64

In [7]:
nls97spss.dtypes

PUBID - YTH ID CODE 1997                        float64
KEY!SEX (SYMBOL) 1997                          category
KEY!BDATE M/Y (SYMBOL) 1997                     float64
KEY!BDATE M/Y (SYMBOL) 1997                     float64
CV_SAMPLE_TYPE 1997                            category
KEY!RACE_ETHNICITY (SYMBOL) 1997               category
TRANS_SAT_VERBAL HSTR                           float64
TRANS_SAT_MATH HSTR                             float64
TRANS CRD GPA OVERALL HSTR                      float64
TRANS CRD GPA ENG HSTR                          float64
TRANS CRD GPA MATH HSTR                         float64
TRANS CRD GPA LP SCI HSTR                       float64
GOVT RESPONSIBILITY - PROVIDE JOBS 2006        category
GOVT RESPNSBLTY - KEEP PRICES UND CTRL 2006    category
GOVT RESPNSBLTY - HLTH CARE FOR SICK 2006      category
GOVT RESPNSBLTY -PROV ELD LIV STAND 2006       category
GOVT RESPNSBLTY -PROV IND HELP 2006            category
GOVT RESPNSBLTY -PROV UNEMP LIV STAND 2006     category
GOVT RESPNSBLTY -REDUCE INC DIFF 2006          category
GOVT RESPNSBLTY -PROV COLL FIN AID 2006        category
GOVT RESPNSBLTY -PROV DECENT HOUSING 2006      category
GOVT RESPNSBLTY -PROTECT ENVIRONMENT 2006      category
CV_BA_CREDITS L1 2011                           float64
CV_COLLEGE_TYPE L1 2017                        category
CV_COLLEGE_TYPE L2 2017                        category
CV_COLLEGE_TYPE L3 2017                        category
CV_COLLEGE_TYPE L4 2017                        category
CV_COLLEGE_TYPE L5 2017                        category
CV_COLLEGE_TYPE L6 2017                        category
CV_HGC_EVER 2017                               category
CV_MARSTAT_COLLAPSED 2017                      category
CV_BIO_CHILD_HH 2017                            float64
CV_BIO_CHILD_NR 2017                            float64
DIPLOMA/DEGREE RCVD? L1 2017                   category
DIPLOMA/DEGREE RCVD? L2 2017                   category
DIPLOMA/DEGREE RCVD? L3 2017                   category
DIPLOMA/DEGREE RCVD? L4 2017                   category
EST INC WAGES, TIPS PAST YR 2017               category
HRS/WK R USES A COMPUTER 2017                  category
HRS/WK R WATCHES TELEVISION 2017               category
HRS/NIGHT R SLEEPS 2017                         float64
CVC_WKSWK_YR_ALL L99                            float64
dtype: object

In [8]:
nls97spss.columns = nls97spss.columns.\
    str.lower().\
    str.replace(' ','_').\
    str.replace('[^a-z0-9_]', '')
nls97spss.set_index('pubid__yth_id_code_1997', inplace=True)

In [9]:
# apply the formats from the beginning
nls97spss, metaspss = pyreadstat.read_sav('/content/nls97.sav', apply_value_formats=True, formats_as_category=True)
nls97spss.columns = metaspss.column_labels
nls97spss.columns = nls97spss.columns.\
  str.lower().\
  str.replace(' ','_').\
  str.replace('[^a-z0-9_]', '')
nls97spss.dtypes

pubid__yth_id_code_1997                        float64
keysex_symbol_1997                            category
keybdate_my_symbol_1997                        float64
keybdate_my_symbol_1997                        float64
cv_sample_type_1997                           category
keyrace_ethnicity_symbol_1997                 category
trans_sat_verbal_hstr                          float64
trans_sat_math_hstr                            float64
trans_crd_gpa_overall_hstr                     float64
trans_crd_gpa_eng_hstr                         float64
trans_crd_gpa_math_hstr                        float64
trans_crd_gpa_lp_sci_hstr                      float64
govt_responsibility__provide_jobs_2006        category
govt_respnsblty__keep_prices_und_ctrl_2006    category
govt_respnsblty__hlth_care_for_sick_2006      category
govt_respnsblty_prov_eld_liv_stand_2006       category
govt_respnsblty_prov_ind_help_2006            category
govt_respnsblty_prov_unemp_liv_stand_2006     category
govt_respnsblty_reduce_inc_diff_2006          category
govt_respnsblty_prov_coll_fin_aid_2006        category
govt_respnsblty_prov_decent_housing_2006      category
govt_respnsblty_protect_environment_2006      category
cv_ba_credits_l1_2011                          float64
cv_college_type_l1_2017                       category
cv_college_type_l2_2017                       category
cv_college_type_l3_2017                       category
cv_college_type_l4_2017                       category
cv_college_type_l5_2017                       category
cv_college_type_l6_2017                       category
cv_hgc_ever_2017                              category
cv_marstat_collapsed_2017                     category
cv_bio_child_hh_2017                           float64
cv_bio_child_nr_2017                           float64
diplomadegree_rcvd_l1_2017                    category
diplomadegree_rcvd_l2_2017                    category
diplomadegree_rcvd_l3_2017                    category
diplomadegree_rcvd_l4_2017                    category
est_inc_wages_tips_past_yr_2017               category
hrswk_r_uses_a_computer_2017                  category
hrswk_r_watches_television_2017               category
hrsnight_r_sleeps_2017                         float64
cvc_wkswk_yr_all_l99                           float64
dtype: object

In [10]:
nls97spss.head()

   pubid__yth_id_code_1997  ... cvc_wkswk_yr_all_l99
0                      1.0  ...                 52.0
1                      2.0  ...                  0.0
2                      3.0  ...                  0.0
3                      4.0  ...                  4.0
4                      5.0  ...                 12.0

[5 rows x 42 columns]

In [11]:
nls97spss.govt_responsibility__provide_jobs_2006.\
  value_counts(sort=False)
nls97spss.set_index('pubid__yth_id_code_1997', inplace=True)

In [12]:
# do the same for stata data
nls97stata, metastata = pyreadstat.read_dta('/content/nls97.dta', apply_value_formats=True, formats_as_category=True)
nls97stata.columns = metastata.column_labels
nls97stata.columns = nls97stata.columns.\
    str.lower().\
    str.replace(' ','_').\
    str.replace('[^a-z0-9_]', '')
nls97stata.dtypes

pubid__yth_id_code_1997                        float64
keysex_symbol_1997                            category
keybdate_my_symbol_1997                        float64
keybdate_my_symbol_1997                        float64
cv_sample_type_1997                           category
keyrace_ethnicity_symbol_1997                 category
trans_sat_verbal_hstr                          float64
trans_sat_math_hstr                            float64
trans_crd_gpa_overall_hstr                     float64
trans_crd_gpa_eng_hstr                         float64
trans_crd_gpa_math_hstr                        float64
trans_crd_gpa_lp_sci_hstr                      float64
govt_responsibility__provide_jobs_2006        category
govt_respnsblty__keep_prices_und_ctrl_2006    category
govt_respnsblty__hlth_care_for_sick_2006      category
govt_respnsblty_prov_eld_liv_stand_2006       category
govt_respnsblty_prov_ind_help_2006            category
govt_respnsblty_prov_unemp_liv_stand_2006     category
govt_respnsblty_reduce_inc_diff_2006          category
govt_respnsblty_prov_coll_fin_aid_2006        category
govt_respnsblty_prov_decent_housing_2006      category
govt_respnsblty_protect_environment_2006      category
cv_ba_credits_l1_2011                          float64
cv_college_type_l1_2017                       category
cv_college_type_l2_2017                       category
cv_college_type_l3_2017                       category
cv_college_type_l4_2017                       category
cv_college_type_l5_2017                       category
cv_college_type_l6_2017                       category
cv_hgc_ever_2017                              category
cv_marstat_collapsed_2017                     category
cv_bio_child_hh_2017                           float64
cv_bio_child_nr_2017                           float64
diplomadegree_rcvd_l1_2017                    category
diplomadegree_rcvd_l2_2017                    category
diplomadegree_rcvd_l3_2017                    category
diplomadegree_rcvd_l4_2017                    category
est_inc_wages_tips_past_yr_2017               category
hrswk_r_uses_a_computer_2017                  category
hrswk_r_watches_television_2017               category
hrsnight_r_sleeps_2017                         float64
cvc_wkswk_yr_all_l99                           float64
dtype: object

In [13]:
nls97stata.head()

   pubid__yth_id_code_1997  ... cvc_wkswk_yr_all_l99
0                      1.0  ...                 52.0
1                      2.0  ...                  0.0
2                      3.0  ...                  0.0
3                      4.0  ...                  4.0
4                      5.0  ...                 12.0

[5 rows x 42 columns]

In [16]:
nls97stata.govt_responsibility__provide_jobs_2006.\
  value_counts(sort=False)
nls97stata.min()

keybdate_my_symbol_1997          1.0
keybdate_my_symbol_1997       1980.0
trans_sat_verbal_hstr           14.0
trans_sat_math_hstr              7.0
trans_crd_gpa_overall_hstr      10.0
trans_crd_gpa_eng_hstr           0.0
trans_crd_gpa_math_hstr          0.0
trans_crd_gpa_lp_sci_hstr        0.0
cv_ba_credits_l1_2011            0.0
cv_bio_child_hh_2017             0.0
cv_bio_child_nr_2017             0.0
hrsnight_r_sleeps_2017           0.0
cvc_wkswk_yr_all_l99             0.0
dtype: float64

In [17]:
nls97stata.replace(list(range(-9,0)), np.nan, inplace=True)
nls97stata.min()

keybdate_my_symbol_1997          1.0
keybdate_my_symbol_1997       1980.0
trans_sat_verbal_hstr           14.0
trans_sat_math_hstr              7.0
trans_crd_gpa_overall_hstr      10.0
trans_crd_gpa_eng_hstr           0.0
trans_crd_gpa_math_hstr          0.0
trans_crd_gpa_lp_sci_hstr        0.0
cv_ba_credits_l1_2011            0.0
cv_bio_child_hh_2017             0.0
cv_bio_child_nr_2017             0.0
hrsnight_r_sleeps_2017           0.0
cvc_wkswk_yr_all_l99             0.0
dtype: float64

In [19]:
# pull sas data, using the sas catalog file for value labels
nls97sas, metasas = pyreadstat.read_sas7bdat('/content/nls97.sas7bdat', catalog_file='/content/nlsformats3.sas7bcat', formats_as_category=True)
nls97sas.columns = metasas.column_labels
nls97sas.columns = nls97sas.columns.\
    str.lower().\
    str.replace(' ','_').\
    str.replace('[^a-z0-9_]', '')
nls97sas.head()

   pubid__yth_id_code_1997  ... cvc_wkswk_yr_all_l99
0                      1.0  ...                 52.0
1                      2.0  ...                  0.0
2                      3.0  ...                  0.0
3                      4.0  ...                  4.0
4                      5.0  ...                 12.0

[5 rows x 42 columns]